body{
    background-color: rgb(209,204,204);
}
.templateContainer{
    margin: 5% 0;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer > .searchInput_Container input{
    width: 50%;
    padding: 10px;
    outline: none;
}
.templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer .template_Container .template{
    background-color: white;
    margin: 30px;
    padding: 0px 20px;
}
.templateContainer .template_Container .template img{
    height: 250px;
}